{% extends 'base.html' %}
{% load static %}

{% block header %}More About Will {% endblock %}

{% block content %}
    <img src="{% static 'home/images/Self_Portrait.jpeg' %}" alt="A drawing of Will">
    <p>This is what I look like, approximately</p>
    <h3>RE: Software</h3>
    <p>
        I started working in the computer science world once I went
        to college. I didn't have a lot in mind for what I wanted to do, but
        I had imagined being an astronaut. Since reading Carl Sagan's Cosmos,
        space was an interest of mine. 
        NASA doesn't seem like my place 
        anymore, but I have found joy in the sense of creation that 
        programming brings with it. 
    </p>
    <p>
        I chose web design specifically because it allows me to 
        use visual and artistic reasoning (frontend) in combination with logical 
        programming (backend). Basically, it's a fun time all around.
        In addition to web development, I spent my time at Madison sticking 
        my thumbs into a lot of other pies. Graphics, AI, low-level 
        architecture, and operating systems were all on the menu. 
    </p>
    <p>
        I would be more than glad to take a position working on any one of 
        those things. I train fast. 
    </p>

    <h3>RE: Art</h3>
    <p>
        In addition to software design, I also make art. Sometimes.
        When I get a free hour here or there. 
    </p>
    <p>
        This started a bit before college. I'm not sure exactly what started
        it. I do remember that I wanted to get a watercolor set. I think
        I had seen art sold by vendors in Italy and wanted to make something
        like it. 
        It was simple, but it had captured so much nonetheless. The
        next Christmas, when I had a little spending money, I took a trip to
        the art store. 
    </p>
    <p>
        Since then I've received a Certificate in Studio Art from Madison,
        and I've even sold a couple pieces. I've experimented with watercolor,
        acrylic, oil, relief printmaking, charcoal drawing, comic art, digital
        art, and more. 
        If you are looking at this page not becuase you're a recruiter but 
        instead because you like my art, welcome! In either case, this is 
        how you contact me:
    </p>
    <p>
        Email: campbw2@gmail.com <br>
        Phone: 414-852-3025 (I prefer text over call) <br>
        Address: 2410 University Ave W, Ste 514 <br>
        (If you want to send me a letter I guess)
    </p>

{% endblock content %}