{% extends 'base.html' %}

{% block header %}{{ entry.title }}{% endblock %}

{% block content %}

    {{ entry.body|linebreaks }}

    <p>
        Posted on {{ entry.post_time }}
    </p>

    {% if user.is_authenticated %}
        <form method='post'>
            {% csrf_token %}
            {{ form.as_p }}
            <input type='submit' value='Submit Comment'>
        </form>
    {% else %}
        <hr>
        <h3>Comments</h3>
        <p>Log in to leave a comment</p>
    {% endif %}

    {% for comment in entry.comment_set.all %}
        <div class='comment'>
            <h3>{{ comment.user.username }}</h3>
            <p>{{ comment.post_time }}</p>
            <p>{{ comment.body|linebreaks }}</p>
        </div>
    {% endfor %}
{% endblock content %}