{% extends 'base.html' %}

{% block header %}Entry History{% endblock %}

{% block content %}
{% for entry in page_obj %}
    <div class='entry-block'>
        <h3>
            <a href="{% url 'journal:entry' pk=entry.pk %}">{{ entry.title }}</a>
        </h3>
        <p>{{ entry.post_time }}</p>
        <p>{{ entry.body|truncatewords:10 }}</p>
    </div>
{% endfor %}

<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>
{% endblock content %}